* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin-bottom: 20px;
  background: #EEE;
}

.item {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid;
  background: #ACE;
}

.item.w2 { width:  100px; }
.item.h2 { height: 100px; }
.item.w4 { width:  200px; }
.item.h4 { height: 200px; }

.fluid {
  width: 50%;
}

.has-padding {
  padding: 10px 20px 30px 40px;
}

/* dragging */
.is-dragging,
.is-positioning-post-drag,
.ui-draggable-dragging {
  z-index: 10;
  background: orange;
}
